-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: phone_prices
-- ------------------------------------------------------
-- Server version	9.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `affiliate_links`
--

LOCK TABLES `affiliate_links` WRITE;
/*!40000 ALTER TABLE `affiliate_links` DISABLE KEYS */;
/*!40000 ALTER TABLE `affiliate_links` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `phone_features`
--

LOCK TABLES `phone_features` WRITE;
/*!40000 ALTER TABLE `phone_features` DISABLE KEYS */;
/*!40000 ALTER TABLE `phone_features` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `phone_ratings`
--

LOCK TABLES `phone_ratings` WRITE;
/*!40000 ALTER TABLE `phone_ratings` DISABLE KEYS */;
/*!40000 ALTER TABLE `phone_ratings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `phones`
--

LOCK TABLES `phones` WRITE;
/*!40000 ALTER TABLE `phones` DISABLE KEYS */;
INSERT INTO `phones` VALUES (25,'Apple','iPhone 15 Pro Max','flagship','https://images.unsplash.com/photo-1695048133142-1a20484d2569?w=600&q=80&auto=format&fit=crop',2023,NULL);
INSERT INTO `phones` VALUES (26,'Samsung','Galaxy S24 Ultra','flagship','https://images.unsplash.com/photo-1610945415295-d9bbf067e59c?w=600&q=80&auto=format&fit=crop',2024,NULL);
INSERT INTO `phones` VALUES (27,'Google','Pixel 8 Pro','flagship','https://images.unsplash.com/photo-1598327105666-5b89351aff97?w=600&q=80&auto=format&fit=crop',2023,NULL);
/*!40000 ALTER TABLE `phones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `price_alerts`
--

LOCK TABLES `price_alerts` WRITE;
/*!40000 ALTER TABLE `price_alerts` DISABLE KEYS */;
/*!40000 ALTER TABLE `price_alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `reviews`
--

LOCK TABLES `reviews` WRITE;
/*!40000 ALTER TABLE `reviews` DISABLE KEYS */;
INSERT INTO `reviews` VALUES (4,25,'kasun perera',5,'Excellent camera and super-smooth performance. Build feels premium and lighter with titanium. Battery is decent but can heat during heavy use. Pricey, but great long-term phone.',1,'2025-12-07 14:48:53');
/*!40000 ALTER TABLE `reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `shop_prices`
--

LOCK TABLES `shop_prices` WRITE;
/*!40000 ALTER TABLE `shop_prices` DISABLE KEYS */;
INSERT INTO `shop_prices` VALUES (59,25,11,580000,'LKR',1,NULL);
INSERT INTO `shop_prices` VALUES (60,25,12,565000,'LKR',1,NULL);
INSERT INTO `shop_prices` VALUES (61,25,13,580000,'LKR',1,NULL);
/*!40000 ALTER TABLE `shop_prices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `shops`
--

LOCK TABLES `shops` WRITE;
/*!40000 ALTER TABLE `shops` DISABLE KEYS */;
INSERT INTO `shops` VALUES (11,'Singer Mega Electronics','Colombo','Main Street, Colombo 01','+94112345678','+94771234567','https://www.singeronline.com',1,1,NULL);
INSERT INTO `shops` VALUES (12,'Abans Electronics','Kandy','Temple Street, Kandy','+94812345678','+94777654321','https://www.abans.lk',1,1,NULL);
INSERT INTO `shops` VALUES (13,'Softlogic Holdings','Colombo','Liberty Plaza, Colombo 03','+94112987654','+94723994572','https://www.softlogic.lk',1,0,NULL);
/*!40000 ALTER TABLE `shops` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `specs`
--

LOCK TABLES `specs` WRITE;
/*!40000 ALTER TABLE `specs` DISABLE KEYS */;
INSERT INTO `specs` VALUES (257,25,'display_size','6.7 inches');
INSERT INTO `specs` VALUES (258,25,'display_type','AMOLED, 120Hz');
INSERT INTO `specs` VALUES (259,25,'resolution','1440 x 3200 pixels');
/*!40000 ALTER TABLE `specs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `subscribers`
--

LOCK TABLES `subscribers` WRITE;
/*!40000 ALTER TABLE `subscribers` DISABLE KEYS */;
INSERT INTO `subscribers` VALUES (1,'chandudilhan@gmail.com','chandupa',1,NULL,NULL);
INSERT INTO `subscribers` VALUES (2,'suprimum49@gmail.com','kasiru',1,NULL,NULL);
/*!40000 ALTER TABLE `subscribers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Admin User','admin@phones.lk','hashed_admin_pass','admin',NULL,'2025-12-04 17:16:54');
INSERT INTO `users` VALUES (2,'Tech Zone Owner','owner@techzone.lk','hashed_pass','shop_owner',NULL,'2025-12-04 17:16:54');
INSERT INTO `users` VALUES (3,'MobileHub Owner','owner@mobilehub.lk','hashed_pass','shop_owner',NULL,'2025-12-04 17:16:54');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-08 23:10:50
